* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(234, 234, 234);
}
body {
  padding: 60px;
}
input {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(97, 32, 158);
  color: black;
  font-size: 1.2rem;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}
.car-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.card {
  align-content: center;
  border: 1px solid grey;
  border-radius: 6px;
  margin-bottom: 20px;
  margin-right: 20px;
  overflow: hidden;
}
.card p {
  padding: 5px;
  text-align: center;
}
.card img {
  max-height: 170px;
}
